.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F07F2E;
    border: none;
    transition: transform 250ms;
}

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
}